.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(136, 136, 136);
  height: 50px;
  overflow: hidden;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.username {
  padding-left: 10px;
}

.statusIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 255, 0, 0.7);
}

.closeIcon {
  color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
